body {
    background-color: #47859A;
    background-image: url("bg.png");
    color: #FFFDCF;
}

ul {
    list-style: none;
}

li,
.casili {
    font-size: 1.5rem;
}

h1 {
    width: 70%;
    text-align: center;
    padding-bottom: 18px;
}

.search {
    width: 50%;
    height: 2.3em;
    border-radius: 10px;
    font-weight: bold;
    background-color: #C9789B;
    border: none;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .3);
    margin-right: 10px;
}

.search::placeholder {
    color: black;
    padding-left: 10px;
}

@media all and (min-width:770px) {
    .search {
        width: 30%;
    }
}

.navbar {
    opacity: 0.9;
}

.tarjetita {
    background-color: rgba(0, 255, 255, .3);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .3);
}

.boton, .favo {
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    background-color: goldenrod;
}